@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

:root {
  /* ### Primary */
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);

  /* ### Neutral */
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);

  /* (with 75% opacity for lightbox background) */
  --Black: hsl(0, 0%, 0%);
}

body {
  font-size: 16px;
  min-height: 100vh;
}

main {
  padding: 20px 15%;
}

/* ---------------------NAVIGATION BAR START---------------------- */
nav {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--Grayish-blue);
  padding-bottom: 20px;
  width: 100%;
}

.logo {
  width: 90px;
}

nav #sideMenu {
  flex: 1;
  text-align: left;
}

nav #sideMenu ul {
  list-style: none;
  margin: 0 20px;
}
nav #sideMenu li {
  display: inline-block;
  margin: 10px 10px;
  position: relative;
  transition: 0.4s;
}

nav #sideMenu li::after {
  content: "";
  width: 0;
  height: 2px;
  left: 0;
  background-color: var(--Orange);
  position: absolute;
  bottom: -30px;
}

nav #sideMenu li:hover::after {
  width: 100%;
}
nav #sideMenu ul li a {
  text-decoration: none;
  font-size: 12px;
  color: var(--Dark-grayish-blue);
}

.menuIcons {
  display: none;
}

.cartIcon {
  width: 15px;
}

.ProfileAvatar {
  width: 30px;
  margin-left: 30px;
}

.right-nav-bar {
  display: flex;
  align-items: center;
  position: relative;
}

/* --------------------------MAIN CONTENT STARTS--------------------- */

.page-content {
  padding: 60px 20px 0;
  display: flex;
  /* justify-content: space-between; */
}

.gallery-wrapper {
  flex-basis: 49%;
  /* flex-wrap: wrap; */
}

.gallery {
  width: 75%;
  max-width: 450px;
  margin: auto 30px 0;
}

.productImg {
  width: 100%;
  margin: auto;
  position: relative;
  border-radius: 10px;
}

.col2 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.col2 img {
  width: 60px;
  border-radius: 10px;
}

.previewImg {
  position: relative;
}

.active {
  padding: 2px;
  border: 2px solid var(--Orange);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.coverImg {
  display: none;
  width: 60px;
  height: 60px;
  position: absolute;
}

.coverImg.activeCover {
  display: block;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  z-index: 2;
}

.gallery-Info {
  flex-basis: 48%;
  padding-left: 40px;
  /* background: var(--Grayish-blue); */
}

.col1 {
  display: flex;
  align-items: center;
}

.navIcon {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
  /* margin-top: -20px; */
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.groupTitle {
  font-size: 10px;
  color: var(--Orange);
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 50px;
}

.groupHeader {
  font-size: 20px;
  max-width: 280px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.productDescription {
  font-size: 12px;
  max-width: 350px;
  line-height: 18px;
  margin-bottom: 10px;
  color: var(--Dark-grayish-blue);
}

.productDiscount {
  font-size: 14px;
  margin-bottom: 5px;
  color: var(--Very-dark-blue);
  display: flex;
  align-items: center;
}

.productDiscount span {
  font-size: 9px;
  color: var(--Orange);
  padding: 1px 3px;
  background-color: var(--Pale-orange);
  border-radius: 4px;
  margin-left: 6px;
}

.productAmount {
  font-size: 10px;
  color: var(--Grayish-blue);
  font-weight: 600;
  text-decoration: line-through;
  margin-bottom: 20px;
}

.controls {
  display: flex;
  align-items: center;
}

.counter {
  display: flex;
  align-items: center;
  background-color: var(--Light-grayish-blue);
  margin-right: 6px;
}

.counter button {
  background-color: transparent;
  border: 0;
  outline: 0;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.counter button img {
  width: 5px;
}

#count {
  font-size: 9px;
  font-weight: 700;
}

.addCart {
  padding: 8px 46px;
  background-color: var(--Orange);
  color: var(--White);
  border: 0;
  outline: 0;
  border-radius: 4px;
  font-size: 9px;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
}

.addCart img {
  width: 10px;
  margin-right: 6px;
  fill: var(--White);
  -webkit-text-fill-color: var(--White);
}

.cartNotification-page {
  width: 200px;
  height: 0;
  background-color: var(--White);
  position: absolute;
  top: 50px;
  right: -20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: height 0.3s;
  z-index: 3;
}
.cartNotification-page.newHeight {
  height: 150px;
}

.cartFrame {
  width: 100%;
}
.cart-title {
  padding: 10px;
  border-bottom: 1px solid var(--Grayish-blue);
}

.cartHeader {
  font-size: 9px;
}
#cartMsg {
  text-align: center;
  font-size: 9px;
}

.cartInfo {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 376px) {
  main {
    padding: 0;
  }

  .menuIcons {
    display: block;
  }
  nav {
    justify-content: space-between;
    border-bottom: 0;
    padding: 20px 6%;
    position: relative;
  }

  nav #sideMenu {
    /* display: none; */
    position: fixed;
    height: 100vh;
    left: -200px;
    top: 0;
    width: 200px;
    background-color: var(--White);
    padding-top: 50px;
    transition: 0.5s;
    text-align: left;
    z-index: 7;
  }

  nav #sideMenu ul {
    margin: 0;
  }

  nav #sideMenu ul li {
    display: block;
    margin: 24px;
  }
  nav #sideMenu ul li a {
    color: var(--Black);
    font-weight: 700;
  }
  .closeIcon {
    position: absolute;
    top: 25px;
    left: 20px;
  }

  .left-side-nav {
    display: flex;
    align-items: center;
  }

  .logo {
    margin-left: 15px;
    width: 120px;
  }

  .ProfileAvatar {
    width: 25px;
    margin-left: 20px;
  }

  /* ----------------MAIN---------------- */
  .page-content {
    flex-direction: column;
    padding: 20px 0 20px;
  }

  .col2 {
    display: none;
  }

  .gallery-wrapper {
    padding: 0;
    flex-basis: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gallery {
    width: 100%;
    padding: 0;
  }
  .productImg {
    width: 400px;
    height: 300px;
    border-radius: 0;
    object-fit: cover;
  }

  .navIcon {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--Pale-orange);
    z-index: 4;
  }

  .next,
  .prev {
    width: 10px;
  }

  .nextIcon {
    right: 10px;
  }

  .prevIcon {
    left: 10px;
  }
  .gallery-Info {
    padding: 0 20px;
  }

  .groupTitle {
    margin-top: 20px;
  }

  .groupHeader {
    max-width: 350px;
    font-size: 27px;
  }

  .productDescription {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 20px;
    max-width: 325px;
  }

  .productDiscount {
    display: inline-block;
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  /* .productAmount {
    display: inline-block;
    float: right;
  } */

  .priceSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .controls {
    flex-direction: column;
    width: 100%;
  }

  .counter {
    width: 100%;
    padding: 8px 30px;
    justify-content: space-between;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .counter button img {
    width: 10px;
  }
  .addCart {
    width: 100%;
    padding: 12px 30px;
    margin-bottom: 50px;
    justify-content: center;
    font-weight: 600;
    font-size: 12px;
  }

  .addCart img {
    width: 15px;
  }
  #count {
    font-size: 14px;
  }
  .cartNotification-page {
    width: 300px;
    right: 13px;
  }
}
